html{
    background-color: black;
}

body {
    display: flex;
    width: 50%;
   
    margin: auto;

    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
}

@keyframes game {
    0% {
        background-image: linear-gradient(to top, rgb(0, 255, 13), yellow);
    transition: 2s;
    }
    25%{
        background-image: linear-gradient( to right, red, yellow);
        transition: 2s;
    } 

    50%{
        background-image: linear-gradient(to left, blue, green);
        transition: 2s;

        color: whitesmoke;

    }

    75%{
        background-image: linear-gradient(to bottom, red, yellow);
        transition: 2s;
    }

    100% {
        background-image: linear-gradient(to bottom, rgb(0, 255, 13), yellow);
    }
}

.nameOf{

    animation-name: game;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
    transition: 2s;
    margin: 0;

    padding: 2rem;

    border-radius: 0.4rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.popup {
    background-color: aliceblue;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    flex: 1;

    padding-bottom: 1rem;
}

.popup p {
    font-size: 1.2rem;
    font-weight: 300;

    display: inline;
}

.popup button{
    padding: 1.5rem;
    margin: 2rem;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    border-radius: 1.4rem;
    transition: 2s;
}

.popup button:active {
    background-color: darkred;
}
.popup button:hover {
    font-size: 1.5rem;
    transition: 2s;

    cursor: pointer;
}

.extra-info p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 1.5rem;
    font-weight: 500;

    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0.5rem;
}
